@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

body{
    background: #05012c;
    width: 100%;
    height: 580px;
    position: absolute;
}

#main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: end;
    position: absolute;
    top:0px;
    left:0px;
}

h1{
    -webkit-animation: fadein 1s;
}

label{
    color: rgba(8,247,236,1);
    font-family: 'Baloo Thambi 2', cursive;
}

#leftpart{
    display: flex;
    height:550px;
    width:600px;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    left:50px;
}
#logo{
    margin-left: 10px;
    margin-top: 17px;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
}


h1{
    color: rgba(8,247,236,1);
    font-family: 'Baloo Thambi 2', cursive;
    font-size: 60px;
    background: linear-gradient(to right, #23c6fc 0%, #faf742 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    align-self: flex-start;
    justify-self: center;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 80px;
}

#mycanvas{
   background-color: rgba(255, 255, 255, 1);
   border: 4px solid rgba(8,247,236,1);
   border-radius: 1em;
   margin-top: 5px;
   align-self: center;
   justify-self: center;
}

#tool{
    height:80%;
    width: 500px;
    position: relative;
    top:20px;
    left: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#bar{
    height:100px;
    width: 450px;
    margin: 10px 10px 10px 10px;
    border-bottom: 1px solid rgba(8,247,236,1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    -webkit-animation: fadein 0.6s;
}

#buttons{
    height:370px;
    width: 340px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(23,33,133,1) 50%, rgba(31,224,255,1) 100%);
    border: 2px solid rgba(8,247,236,1);
    position: relative;
    top:15px;
    border-radius: 1em;
    padding: 7px 6px 7px 6px;
}


.btn{
    background-color: lightcyan;
    border-radius: 50em;
    border-color: rgba(174, 248, 159, 1);
    border-style: solid;
    height: 65px;
    width: 65px;
    margin: 8px;
    transition: transform 0.3s;
    z-index: 5;
    background-size: 45px 45px;
    background-repeat: no-repeat;
    background-position: center;
}

.btn:hover{
    transform: scale(1.05);
    border-width: 3px;
}

#draw{
    background-image:url('painting.png');
    background-size: 50px 50px;
    -webkit-animation: fadein 1.5s;
}

#marker{
    background-image:url('marker.png');
    background-size: 40px 40px;
    -webkit-animation: fadein 1.5s;
}

#rainbow{
    background-image:url('rainbow.png');
    background-size: 40px 40px;
    -webkit-animation: fadein 1.5s;
}

#erase{
    background-image:url('eraser.png');
    -webkit-animation: fadein 1.5s;
}

#rectangle{
    background-image:url('grid.png');
    -webkit-animation: fadein 2s;
}

#circle{
    background-image:url('circle.png');
    -webkit-animation: fadein 2s;
}

#triangle{
    background-image:url('triangle.png');
    background-position-y: 5px;
    -webkit-animation: fadein 2s;
}

#line{
    background-image:url('dash.png');
    -webkit-animation: fadein 2s;
}

#hollow{
    background-image:url('fill.png');
    background-position-x: 9px;
    -webkit-animation: fadein 2.5s
}

#download{
    background-image:url('arrow.png');
    -webkit-animation: fadein 3s;
}


#redo{
    background-image:url('redo.png');
    background-size: 50px 50px;
    -webkit-animation: fadein 3s;
}

#undo{
    background-image:url('undo.png');
    background-size: 50px 50px;
    -webkit-animation: fadein 3s;
}

#text{
    background-image:url('text-editor.png');
    background-size: 40px 40px;
    background-position-x: 11px;
    background-position-y: 13px;
    -webkit-animation: fadein 2.5s;
}

#reset{
    background-image:url('reload.png');
    -webkit-animation: fadein 3s;
}

#img_cover{
    background-image:url('img.png');
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    -webkit-animation: fadein 2.5s
}

#img{
    background-image:url('img.png');
    opacity: 0;
}

#bg_cover{
    background-image:url('bgcolor.png');
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-size: 50px 50px;
    background-position-x: 8px;
    background-position-y: 7px;
    -webkit-animation: fadein 2.5s;
}

#bgcolor{
    background-image:url('bgcolor.png');
    opacity: 0;
}

#brushsize{
    -webkit-animation: fadein 1s;
    position: relative;
    top:-40px;
    left:85px;
}

input[type="range"]{
  -webkit-appearance:none;
  width:160px;
  height:50px;
  margin:10px 30px;
  background: linear-gradient(to right, rgb(252, 255, 83) 0%, rgb(50, 225, 248) 100%);
  background-size:150px 7px;
  background-position:center;
  background-repeat:no-repeat;
  overflow:hidden;
  outline: none;
  position: relative;
  top: -20px;
  left: 85px;
  -webkit-animation: fadein 1s;
}

input[type="range"]:first-of-type{
  margin-top:30px;
}

input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance:none;
  width:40px;
  height:100px;
  background-image: url('pointer3.png');
  background-size: 40px 40px;
  background-position: center;
  background-position-y: 40px;
  background-repeat: no-repeat;
  z-index:10;
}

input[type="range"]::-webkit-slider-thumb:after{
  content:" ";
  width:160px;
  height:10px;
  position:absolute;
  z-index:1;
  right:20px;
  top:5px;
  background-image: url('pointer3.png');
  background: linear-gradient(to right, #f088fc 1%, #AC6CFF 70%);
}

input[type="number"]{
    width: 80px;
}
